.glassSection {
  background: rgba(255, 255, 255, 0.12);
  backdrop-filter: blur(16px);
  border-radius: 20px;
  padding: 2rem;
  margin: 3rem auto;
  max-width: 1000px;
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.2);
}

.title {
  font-size: 2.5rem;
  font-weight: 600;
  text-align: center;
  margin-bottom: 2rem;
  color: #ffffff;
  text-shadow: -2px 4px 5px black;
}

.tileContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
  gap: 1.5rem;
}

.skillTile {
  background: black;
  border: 1px solid rgba(255, 255, 255, 0.2);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  border-radius: 16px;
  padding: 1rem;
  text-align: center;
  transition: transform 0.3s ease;
  box-shadow: -2px 5px 10px black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.skillTile:hover {
  transform: translateY(-5px) scale(1.05);
}

.skillIcon {
  width: 40px;
  height: 40px;
  margin-bottom: 0.5rem;
  filter: drop-shadow(-2px 4px 5px black);
}

.skillName {
  font-size: 1.1rem;
  color: white;
  font-weight: bold;
  text-shadow: 0px 0px 15px white;
}
