.aboutCard {
  /* background: rgba(255, 255, 255, 0.15); */
  background: rgb(255 255 255 / 52%);
  border: 1px solid rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  border-radius: 16px;
  padding: 2.5rem;
  box-shadow: var(--btn-shadow);
  color: #111;
  font-family: "Segoe UI", sans-serif;
  line-height: 1.8;
  transition: all 0.3s ease;
  position: fixed;
  height: 30rem;
  width: 100%;
}

.aboutCard:hover {
  transform: scale(1.02);
  box-shadow: 0 12px 48px rgba(0, 0, 0, 0.15);
}

.aboutText {
  font-size: 1.1rem;
  margin: 0.5rem 0;
  color: #333;
}

.aboutText:first-child{
  margin: 0;
}

.aboutFooter {
  font-style: italic;
  color: #007cf0;
  cursor: pointer;
}

@media (max-width: 768px) {
  .aboutCard {
    padding: 2rem 1.5rem;
    height: 65vh;
  }

  .aboutText {
    font-size: 1rem;
  }
}

@media (max-width: 480px) {
 .aboutText {
    font-size: 0.9rem;
  }

  .aboutCard {
    padding: 1.5rem;
    height: 74vh;
  }
}