.heading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vh;
  font-size: 2rem;
  font-weight: bolder;
  color: var(--color-text-primary);
  margin: auto;
  padding: 2rem 0;
  width: 50%;
  border-radius: 12px;
  text-shadow: -1px 2px 3px black;
}
.char {
  display: inline-block;
  opacity: 0;
  transform: translateY(20px);
}
