.heroSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  justify-content: center;
  margin: auto;
  padding: 1.5rem;
}

.heroImage {
  top: 50%;
  left: 50%;
  width: 15rem;
  height: 15rem;
  border-radius: 12px;
  z-index: 8;
  box-shadow:
    0 0 10px rgba(25, 118, 210, 0.4),
    0 0 20px rgba(25, 118, 210, 0.3);
  background: var(--bg-primary);
}

.heroTextContainer {
  width: 100%;
  font-size: 1.2rem;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  font-weight: bold;
  gap: 1rem;
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
  text-align: center;
}

.heroTextHeadingName {
  font-size: clamp(2rem, 5vw, 3rem);
  margin: 0.5rem 0;
  font-weight: bolder;
  color: var(--btn-bg);
}

@media (min-width: 768px) {
  .heroSection {
    flex-direction: row;
    justify-content: space-around;
    width: 80%;
    padding: 2rem;
    height: 60vh;
  }

  .heroTextContainer {
    width: 50%;
    text-align: left;
    margin-top: 5rem;
  }
}

@media (max-width: 767px) {
  .heroSection {
    /* height: 5%; */
    justify-content: space-between;
  }

  .heroTextHeadingContact {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .heroTextContainer {
    margin: 1rem 0;
  }
  .heroImage {
    width: 15rem;
    height: 15rem;
    top: 55%;
    left: 50%;
  }
}

@media (max-width: 480px) {
  .heroSection {
    padding: 0 1rem;
    height: 80vh;
    justify-content: space-evenly;
  }

  .heroImage {
    width: 180px;
    height: 180px;
  }

  .heroTextContainer {
    font-size: 1.1rem;
  }

  .heroTextHeadingContact {
    align-items: center;
  }
}
