.heroSection {
  display: flex;
  align-items: center;
  width: 80%;
  justify-content: space-around;
  margin: auto;
  padding: 2rem;
}

.heroImage {
  top: 50%;
  left: 50%;
  width: 20%;
  height: 55%;
  border-radius: 12px;
  z-index: 8;
  box-shadow: 0 0 10px rgba(25, 118, 210, 0.4), 0 0 20px rgba(25, 118, 210, 0.3);
  background: var(--bg-primary);
}

.heroTextContainer {
  width: 50%;
  font-size: 1.5rem;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  font-weight: bold;
  gap: 1rem;
  display: flex;
  flex-direction: column;
  margin-top: 5rem;
}

.heroTextHeadingName {
  font-size: 3rem;
  margin: 1rem 0;
  font-weight: bolder;
  color: var(--btn-bg);
}
