:root {
  --bg-dark: #222222;
  --blue-accent: #455CE9;
  --blue-hover: #5D75FF;
  --text-light: #EEEEEE;
  --text-muted: #BBBBBB;
  --border-line: #333333;
  --blue-shadow: rgba(69, 92, 233, 0.4);
}

body {
  background-color: var(--bg-dark);
  color: var(--text-light);
}

/* button {
  background: var(--blue-accent);
  color: var(--text-light);
  box-shadow: 0 4px 12px var(--blue-shadow);
  transition: background 0.3s ease;
}

button:hover {
  background: var(--blue-hover);
} */
