:root {
  /* Base Colors */
  --color-background: radial-gradient(circle, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 50%, rgb(92, 131, 180) 100%);
  --color-surface: #1C1C1C;
  --color-input-bg: #1A1A1A;
  --color-border: #333333;
  --color-primary-dark: #222222;

  /* Text Colors */
  --color-text-primary: #EEEEEE;
  --color-text-secondary: #AAAAAA;

  /* Accent Colors */
  --color-accent: #455CE9;
  --color-accent-hover: #5E70F5;

  /* Feedback Colors */
  --color-error: red;
  --color-error-hover: #6C2A2A;
  --color-success: #2EB67D;

  /* Image or Avatar Background */
  --color-image-bg: #1B223C;         /* Muted dark blue, complements #455CE9 */

}

body {
  background: #020024;
  background: var(--color-background);
  overflow: auto;
  margin: 0;
  padding: 0;
  -ms-overflow-style: none;
  overflow-x: none;
}

body::-webkit-scrollbar {
  display: none;
}

/* button {
  background: var(--blue-accent);
  color: var(--text-light);
  box-shadow: 0 4px 12px var(--blue-shadow);
  transition: background 0.3s ease;
}

button:hover {
  background: var(--blue-hover);
} */
