.container {
  height: 400vh;
  position: relative;
  background: radial-gradient(
    circle at 30% 50%,
    rgba(255, 255, 255, 0.9) 0%,
    rgba(220, 235, 255, 0.5) 50%,
    rgb(3, 5, 117) 100%
  );
}
.headerContainer {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.text {
  transform: translateY(-50%);
  opacity: 0;
  font-size: 24px;
  color: #333;
  z-index: 5;
  position: fixed;
  width: 50%;
  right: 5rem;
  top: 50%;
  display: flex;
  align-items: center;
}

.spacer {
  height: 150vh;
}
.skillContainer{
  position: fixed;
  top: 0;
  opacity: 0;
  width: 100%;
  transform: translateY(-150%);
}