*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#particles canvas{
  z-index: -1;
  position:absolute !important;
  background: linear-gradient(#00032c,#004173);
  top: 2rem;
  height: 100px !important;
}
::-webkit-scrollbar {
  width: 0.5rem;
  border-radius: 20px;
}
::-webkit-scrollbar-thumb {
  background: linear-gradient(transparent, #2013c9, skyblue);
  border-radius: 20px;
}
